body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #e6f7ff;
  border-radius: 15px;
  margin: 0;
  width: 600px;
}

div {
  margin-top: 30px;
}

#days {
  display: flex;
  align-items: center; /* Aliniere pe verticală */
  justify-content: center; /* Aliniere pe orizontală */
  gap: 20px; /* Spațiu între elemente */
}
